.list-item {
  position: relative;
  width: 100%;
  background: white;
  padding: 25px 25px 25px 50px;

  &::before {
    content: '';
    width: 1px;
    height: 100%;
    background: #C4C8C4;
    position: absolute;
    left: 20px;
    top: 0;
  }

  // colored dot (replaced by component in later editions)
  &::after {
    content: '';
    position: absolute;
    top: calc(50% - 9px);
    left: calc(20px - 4.5px);
    width: 9px;
    height: 9px;
    background: #17A398;
    border-radius: 50%;
    box-shadow: 0 0 4px 2px rgba(#17A398, .75);
  }
}