*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.left-border {
  position: relative;
}

.left-border::before {
  content: '';
  width: 1px;
  height: 100%;
  background: #C4C8C4;
  position: absolute;
  left: 17px;
  top: 0;
  z-index: 2;
}