.screen-header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background: #17A398;
  color: white;
  font-family: 'Fredoka One', cursive;
  font-size: 1.25rem;

  &__left, &__right {
    height: 30px;
  }

  svg {
    font-size: 30px;
  }
}